#### 1. Write a program to reverse a string.

In [1]:
string = 'sanju is ml engineer'

In [6]:
string[::-1]

'reenigne lm si ujnas'

#### 2. Check if a string is a palindrome.

In [7]:
string = 'radar'

if string[0:] == string[::-1]:
    print('It is a Palindrome')
else:
    print('Not a Palindrome')

It is a Palindrome

#### 3. Convert a string to uppercase.

In [9]:
string = 'sanju is a ml engineer'

print(string.upper())

SANJU IS A ML ENGINEER

#### 4. Convert a string to lowercase.

In [10]:
string = 'SANJU IS A ML ENGINEER'

print(string.lower())

sanju is a ml engineer

#### 5. Count the number of vowels in a string.

In [11]:
string = 'sanju is ml Engineer'

vowels = 'aeiouAEIOU'

count =0
for i in string:
    if i in vowels:
        count+=1
print(count)

7

#### 6. Count the number of consonants in a string.

In [20]:
string = 'sanju is ml Engineer'

vowels = 'aeiouAEIOU '

count =0
for i in string:
    if i not in vowels:
        count+=1
print(count)

10

#### 7. Remove all whitespaces from a string.

In [35]:
string = 'sanju is ml Engineer'

string.replace(' ','')

'sanjuismlEngineer'

#### 8. Find the length of a string without using the `len()` function.

In [47]:
string = 'sanju is ml Engineer'

length = 0

for i in string:
    length += 1
print(length)

20

#### 9. Check if a string contains a specific word.

In [52]:
string = 'sanju is ml Engineer'
word = 'Engi'

if word in string:
    print('yes it contains')
else:
    print('No it doesn"t')

yes it contains

#### 10. Replace a word in a string with another word.

In [64]:
string = 'sanju is Software Engineer'

In [65]:
string.replace('Software Engineer', 'ML Engineer')

'sanju is ML Engineer'

#### 11. Count the occurrences of a word in a string.

In [6]:
string = 'Sanju is learning ML courses, he is more ambitious to become a ML Engineer '

word = 'is'

string.count(word)

2

#### 12. Find the first occurrence of a word in a string.

In [16]:
string = 'Sanju is learning ML courses, he is more ambitious to become a ML Engineer '

string.find('ML')

18

#### 13. Find the last occurrence of a word in a string.

In [17]:
string = 'Sanju is learning ML courses, he is more ambitious to become a ML Engineer '

string.rindex('ML')

66

#### 14. Split a string into a list of words.

In [19]:
string = 'Sanju is learning ML courses, he is more ambitious to become a ML Engineer '

string.split()

['Sanju',
 'is',
 'learning',
 'ML',
 'courses,',
 'he',
 'is',
 'more',
 'ambitious',
 'to',
 'become',
 'a',
 'ML',
 'Engineer']

#### 15. Join a list of words into a string

In [28]:
string = ['sanju', 'is', 'ml' ,'Engineer']

' '.join(string)

'sanju is ml Engineer'

#### 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [29]:
string = 'Sanju is learning ML courses, he is more ambitious to become a ML Engineer '

string.replace(' ', '_')

'Sanju_is_learning_ML_courses,_he_is_more_ambitious_to_become_a_ML_Engineer_'

#### 17. Check if a string starts with a specific word or phrase.

In [34]:
string = 'Sanju is learning ML courses, he is more ambitious to become a ML Engineer '

word = 'Sanju'

string.startswith(word)

True

#### 18. Check if a string ends with a specific word or phrase.

In [36]:
string = 'Sanju is learning ML courses, he is more ambitious to become a ML Engineer'

word = 'Engineer'

string.endswith(word)

True

#### 19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [38]:
string = 'sanju sakthivel'

string.title()

'Sanju Sakthivel'

#### 20. Find the longest word in a string.

In [58]:
string = 'Sanju is learning ML courses'
a=string.split()
print(max(a, key=len))

learning

#### 21. Find the shortest word in a string.

In [59]:
string = 'Sanju is learning ML courses'

a=string.split()

print(min(a,key=len))

is

#### 22. Reverse the order of words in a string

In [82]:
string = 'Sanju is learning ML courses'

a= string.split()

print(' '.join(a[::-1]))

courses ML learning is Sanju

#### 23. Check if a string is alphanumeric

In [103]:
string = '100max'

if string.isalnum():
    print('It is a Alpha numberic')
else:
    print('Not an Alpha numberic')

It is a Alpha numberic

#### 24. Extract all digits from a string.

In [2]:
string = 'S78n9ju'

for i in string:
    if i.isdigit():
        print(i, end='')

789

#### 25. Extract all alphabets from a string.

In [3]:
string = 'S78an9ju'

for i in string:
    if i.isalpha():
        print(i, end='')

Sanju

#### 26. Count the number of uppercase letters in a string.

In [111]:
string = 'Sanju'

count =0 
for i in string:
    if i.isupper():
        count+=1
print(count)

1

#### 27. Count the number of lowercase letters in a string.

In [112]:
string = 'Sanju'

count =0 
for i in string:
    if i.islower():
        count+=1
print(count)

4

#### 28. Swap the case of each character in a string.

In [113]:
string = 'Sanju'

print(string.swapcase())

sANJU

#### 29. Remove a specific word from a string.

In [118]:
string = 'Sanju is learning ML courses'

print(string.replace('ML', ''))

Sanju is learning  courses

#### 30. Check if a string is a valid email address.

In [130]:
email = 'sanjushusanth@gmail.com'

if '@' and '.com' in email:
    print('It is a valid email ID')
else:
    print('It is not a valid email ID')

It is a valid email ID

#### 31. Extract the username from an email address string.

In [5]:
email = 'sanjushusanth@gmail.com'

for i in email:
    if i == '@':
        break
    print(i, end='')

sanjushusanth

#### 32. Extract the domain name from an email address string.

In [27]:
email = 'sanjushusanth@gmail.com'

print(email.split('@')[-1])

gmail.com

#### 33. Replace multiple spaces in a string with a single space.

In [13]:
string = 'Sanju                       is   learning                             ML   courses'

new = ' '.join(string.split())

print(new)

Sanju is learning ML courses

#### 34. Check if a string is a valid URL.

In [20]:
url = 'https://pwskills.com/'

if (url.startswith('https://') or url.startswith('http://')) and url.endswith('.com/'):
    print('It is valid URL')
else:
    print('It is not a valid URL')

It is valid URL

#### 35. Extract the protocol (http or https) from a URL string.

In [1]:
url = 'https://pwskills.com/'

url = 'https://pwskills.com/'

print(url[:url.find(':')])

https

####  36. Find the frequency of each character in a string.

In [4]:
charac = {}

string = 'sanju is ML Engineer'

for i in string:
    if i in charac:
        charac[i] +=1 
    else:
        charac[i] = 1
print(charac)

{'s': 2, 'a': 1, 'n': 3, 'j': 1, 'u': 1, ' ': 3, 'i': 2, 'M': 1, 'L': 1, 'E': 1, 'g': 1, 'e': 2, 'r': 1}

#### 37. Remove all punctuation from a string.

In [42]:
import string

In [43]:
txt = 'Sanju, is. ML "Engineer" !'

In [46]:
txt.translate(str.maketrans('','',string.punctuation))

'Sanju is ML Engineer '

#### 38. Check if a string contains only digits.

In [16]:
string = '4y76'

if string.isdigit() == True:
    print('It contains only digits')
else:
    print('No it doesnt')

No it doesnt

#### 39. Check if a string contains only alphabets.

In [19]:
string = 'abcd'

if string.isalpha() == True:
    print('It contains only Alphabets')
else:
    print('No it doesnt')

It contains only Alphabets

#### 40. Convert a string to a list of characters.

In [107]:
string = 'sanju is ML Engineer'

print(list(string), end='')

['s', 'a', 'n', 'j', 'u', ' ', 'i', 's', ' ', 'M', 'L', ' ', 'E', 'n', 'g', 'i', 'n', 'e', 'e', 'r']

#### 41. Check if two strings are anagrams.

In [62]:
string1 = 'dusty'

string2 = 'study'

if sorted(string1) == sorted(string2):
    print('It is an Anagram')
else:
    print('It is not Anagrams')

It is an Anagram

#### 42. Encode a string using a Caesar cipher.

In [66]:
encode =[]

code = 'Sanjushusanth'

shift=2

for i in code:
    if i.isalpha():
        en = ord(i.upper()) + shift
        encode.append(chr(en))
print(''.join(encode))

UCPLWUJWUCPVJ

#### 43. Decode a caesar cipher encoded string

In [67]:
encode =[]

code = 'UCPLWUJWUCPVJ'

shift=2

for i in code:
    if i.isalpha():
        en = ord(i.upper()) - shift
        encode.append(chr(en))
print(''.join(encode))

SANJUSHUSANTH

#### 44. Find the most frequent word in a string.

In [69]:
from collections import Counter

In [71]:
string = 'Red green yellow green blue'
list1=string.split()
Counter(list1).most_common()[0]

('green', 2)

#### 45. Find all unique words in a string.

In [99]:
string = 'Red green yellow green blue'
list1 = string.split()
set(list1)

{'Red', 'blue', 'green', 'yellow'}

#### 46. Count the number of syllables in a string.

In [1]:
def syllables(word):
    count=0
    vowels ='aeiou'
    if word[0] in vowels:
        count +=1
    
    for i in range(1, len(word)):
        if word[i] in vowels and word[i-1] not in vowels:
            count+=1
            if word.endswith('e'):
                count-=1
    if count == 0:
        count+=1
    return count

In [2]:
syllables('elephant')

3

#### 47. Check if a string contains any special characters.

In [77]:
string = 'sanj%u'

if not (string.isalpha() or string.isdigit()):
    print('String contains special characters')
else:
    print('String doesnt contains special characters')

String contains special characters

#### 48. Remove the nth word from a string.

In [89]:
string = 'sanju is ml engineer'
N = 3
string.replace(string.split(' ')[N-1],'')

'sanju is  engineer'

#### 49. Insert a word at the nth position in a string.

In [94]:
string = 'sanju is  engineer'

Nth_position=3-1

new = string.split()

new.insert(Nth_position, 'ML')

new = ' '.join(new)

print(new)

sanju is ML engineer

#### 50. Convert a CSV string to a list of lists.

In [76]:
csv_string = "1,Sanju,Ravi\n2,Smitha,Rahul\n3,Naveen,Anderson"

csv_list = [row.split(',') for i in csv_string.strip().split('\n')]

print(csv_list)

[['1', 'Sanju', 'Ravi'], ['2', 'Smitha', 'Rahul'], ['3', 'Naveen', 'Anderson']]

#### List based practice questions

#### 1. Create a list with integers from 1 to 10.

In [1]:
list1 = [1,2,3,4,5,6,7,8,9,10]
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### 2. Find the length of a list without using the `len()` function.

In [2]:
list1 = [1,2,3,4,5,6,7,8,9,10]
print(len(list1))

10

#### 3. Append an element to the end of a list.

In [22]:
list1 = [1,2,3,4,5,6,7,8,9,10]
list1.extend([11])
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

#### 4. Insert an element at a specific index in a list.

In [27]:
list1 = [1,2,3,4,5,6,7,8,9,10]

list1.insert(6,5)

print(list1)

[1, 2, 3, 4, 5, 6, 5, 7, 8, 9, 10]

#### 5. Remove an element from a list by its value.

In [30]:
list1 = [1,2,3,4,5,6,7,8,9,10]

list1.remove(9)

print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 10]

#### 6. Remove an element from a list by its index.

In [36]:
list1 = [1,2,3,4,5,6,7,8,9,10]

list1.pop(-1)

print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

#### 7. Check if an element exists in a list.

In [40]:
list1 = [1,2,3,4,5,6,7,8,9,10]

element = 11

if element in list1:
    print('True')
else:
    print('False')

False

#### 8. Find the index of the first occurrence of an element in a list.

In [45]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
element = 2  
index = list1.index(element)

print("Index of", element, "in the list:", index)

Index of 2 in the list: 1

#### 9. Count the occurrences of an element in a list.

In [51]:
list1 = [1, 2, 3, 2, 5, 6, 3, 8, 5, 10,8]
element = 3
count = list1.count(element)
print('Count of', element, 'in the list:', count, 'Nos')

Count of 3 in the list: 2 Nos

#### 10. Reverse the order of elements in a list.

In [56]:
list1 = [1, 2, 3, 2, 5, 6, 3, 8, 5, 10,8]

list1.reverse()
print(list1)

[8, 10, 5, 8, 3, 6, 5, 2, 3, 2, 1]
<list_reverseiterator object at 0x0000021B323EEC70>

#### 11. Sort a list in ascending order.

In [58]:
list1 = [1, 2, 3, 2, 5, 6, 3, 8, 5, 10,8]

list1.sort()

print(list1)

[1, 2, 2, 3, 3, 5, 5, 6, 8, 8, 10]

#### 12. Sort a list in descending order.

In [59]:
list1 = [1, 2, 3, 2, 5, 6, 3, 8, 5, 10,8]

list1.sort(reverse=True)

print(list1)

[10, 8, 8, 6, 5, 5, 3, 3, 2, 2, 1]

#### 13. Create a list of even numbers from 1 to 20.

In [60]:
lst = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

even_list = []
for i in lst:
    if i  % 2 ==0:
        even_list.append(i)
print(even_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

#### 14. Create a list of odd numbers from 1 to 20.

In [61]:
lst = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

even_list = []
for i in lst:
    if i  % 2 !=0:
        even_list.append(i)
print(even_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

#### 15. Find the sum of all elements in a list.

In [63]:
lst = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

print(sum(lst))

210

#### 16. Find the maximum value in a list.

In [ ]:
lst = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

print(max(lst))

#### 17. Find the minimum value in a list.

In [64]:
lst = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

print(min(lst))

1

#### 18. Create a list of squares of numbers from 1 to 10.

In [68]:
lst = [1,2,3,4,5,6,7,8,9,10]
new = []
for i in lst:
    new.append(i*i)
    
print(new)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### 19. Create a list of random numbers.

In [73]:
import random

random_numbers = random.sample(range(1,101),10)

print(random_numbers)

[86, 99, 91, 25, 67, 22, 47, 8, 89, 77]

#### 20. Remove duplicates from a list.

In [76]:
list1 = [1, 2, 3, 2, 5, 6, 3, 8, 5, 10,8]
new = set(list1)
print(list(new))

[1, 2, 3, 5, 6, 8, 10]

#### 21. Find the common elements between two lists.

In [80]:
lst1 = [1,2,3,4,5]

lst2 = [7,2,1,6,3]

for i in lst1:
    if i in lst2:
        print(i, end=',')

1,2,3,

#### 22. Find the difference between two lists.

In [81]:
lst1 = [1,2,3,4,5]

lst2 = [7,2,1,6,3]

for i in lst1:
    if i not in lst2:
        print(i, end=',')

4,5,

#### 23. Merge two lists.

In [83]:
lst1 = [1,2,3,4,5]

lst2 = [7,2,1,6,3]

new_list = lst1 + lst2

print(new_list)

[1, 2, 3, 4, 5, 7, 2, 1, 6, 3]

#### 24. Multiply all elements in a list by 2.

In [94]:
lst = [1,2,3,4,5,6,7,8,9,10]

for i in lst:
    print(i*2, end=',')

2,4,6,8,10,12,14,16,18,20,

#### 25. Filter out all even numbers from a list.

In [97]:
lst = [1,2,3,4,5,6,7,8,9,10]

even_number = list(filter(lambda x: x % 2 ==0, lst))
    
print(even_number)

[2, 4, 6, 8, 10]

#### 26. Convert a list of strings to a list of integers.

In [101]:
lst = ['1','2','3','4','5','6','7','8','9','10']

In [108]:
new_lst = [int(i) for i in lst]

print(new_lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### 27. Convert a list of integers to a list of strings.

In [109]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

new_lst = [str(i) for i in lst]

print(new_lst)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

#### 28. Flatten a nested list.

In [114]:
lst = [[1, 2, 3, 4], [5, 6, 7, 8],[9, 10]]

flattened_list = [j for i in lst for j in i]

print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### 29. Create a list of the first 10 Fibonacci numbers.

In [116]:
list_fibo = [0, 1]

for i in range(2, 10):
    next_fibonacci = list_fibo[i - 1] + list_fibo[i - 2]
    list_fibo.append(next_fibonacci)

print("First 10 Fibonacci numbers:", list_fibo)

First 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

#### 30. Check if a list is sorted.

In [123]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 11, 10]

if lst == sorted(lst) :
    print('List is sorted')
else:
    print('List is not sorted')

List is not sorted

#### 31. Rotate a list to the left by `n` positions.

In [126]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

position = 2

print(lst[position:] + lst[:position])

[3, 4, 5, 6, 7, 8, 9, 10, 1, 2]

#### 32. Rotate a list to the right by `n` positions.

In [127]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

position = 2

print(lst[-position:] + lst[:-position])

[9, 10, 1, 2, 3, 4, 5, 6, 7, 8]

#### 33. Create a list of prime numbers up to 50.

In [129]:
def prime_number(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) +1):
        if num% i == 0:
            return False
    return True

prime_number = [num for num in range(2,51) if prime_number(num)]

print(prime_number)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

#### 34. Split a list into chunks of size `n`.

In [132]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunk_size = 3 

chunk_list=[lst[i:i + chunk_size] for i in range(0,len(lst), chunk_size)]

print('Original list', lst)

print('Chunk list', chunk_list)

Original list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Chunk list [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

#### 35. Find the second largest number in a list.

In [145]:
lst = [509,39,456,98,500,23]

lst.sort(reverse=True)

print('Second largest number:', lst[1])

Second largest number: 500

#### 36. Replace every element in a list with its square.

In [147]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

squared_lst = [i*i for i in lst]

print('Original list: ', lst)

print('Squared list: ', squared_lst)

Original list:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Squared list:  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### 37. Convert a list to a dictionary where list elements become keys and theirindices become values.

In [152]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

dict_= {keys: values for keys , values in enumerate(lst)}

print(dict_)

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8, 8: 9, 9: 10}

#### 38. Shuffle the elements of a list randomly.

In [154]:
import random

lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
random.shuffle(lst)
print(lst)

[1, 9, 2, 10, 6, 4, 8, 5, 7, 3]

#### 39. Create a list of the first 10 factorial numbers.

In [158]:
def factorial(n):
    if n == 0:
        return 1
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

factorial_list = [factorial(i) for i in range(10)]

print("First 10 Factorial Numbers:", factorial_list)

First 10 Factorial Numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

#### 40. Check if two lists have at least one element in common.

In [167]:
def common_element(lst1, lst2):
    for i in lst1:
        for j in lst2:
            if i == j:
                return True
    return False

lst1 = [1, 2, 3, 4, 5]
lst2 = [4, 5, 6, 7, 8]

if common_element(lst1, lst2):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

#### 41. Remove all elements from a list.

In [170]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

lst.clear()

print(lst)

[]

#### 42. Replace negative numbers in a list with 0.

In [20]:
lst = [1, 2, -3, 4, 5, 6, -7, 8, -9, 10]

new_lst = [i if i >=0 else 0 for i in lst]

print(new_lst)

[1, 2, 0, 4, 5, 6, 0, 8, 0, 10]

#### 43. Convert a string into a list of words.

In [21]:
string = 'sanju is ml engineer'

New=string.split()

print(New)

['sanju', 'is', 'ml', 'engineer']

#### 44. Convert a list of words into a string.

In [25]:
lst = ['sanju', 'is', 'ml', 'engineer']

New = ' '.join(lst)

print(New)

sanju is ml engineer

#### 45. Create a list of the first `n` powers of 2.

In [28]:
n = 2
powers_of_2 = []
for i in range(5):
    powers_of_2.append(i**n)
    
print(powers_of_2)

[0, 1, 4, 9, 16]

#### 46. Find the longest string in a list of strings.

In [ ]:
lst = ['sanju', 'is', 'ml', 'engineer']

In [36]:
print(max(lst, key=len))

engineer

#### 47. Find the shortest string in a list of strings.

In [37]:
lst = ['sanju', 'is', 'ml', 'engineer']
print(min(lst, key=len))

is

#### 48. Create a list of the first `n` triangular numbers.

In [95]:
n = 5 
triangular_numbers = [(i * (i + 1)) // 2 for i in range(1, n + 1)]
print(triangular_numbers)

[1, 3, 6, 10, 15]

#### 49. Check if a list contains another list as a subsequence.

In [97]:
lst = ['sanju', 'is', 'ml', 'engineer']
lst2 = ['ml', 'engineer']

if all(i in lst for i in lst2):
    print('The list2 is a subsequence of main_list')
else:
    print('The  list2 is not a subsequence of main_list')

The list2 is a subsequence of main_list

#### 50. Swap two elements in a list by their indices.

In [105]:
lst = ['sanju', 'is', 'ml', 'engineer']
lst[0], lst[1] = lst[1], lst[0]
print(lst)

['is', 'sanju', 'ml', 'engineer']

#### Tuple based practice questions

#### 1. Create a tuple with integers from 1 to 5.

In [4]:
new = (1,2,3,4,5)
print(new)

(1, 2, 3, 4, 5)

#### 2. Access the third element of a tuple.

In [6]:
new = (1,2,3,4,5)
print(new[2])

3

#### 3. Find the length of a tuple without using the `len()` function.

In [9]:
new = (1,2,3,4,5)
length =0
for i in new:
    length += 1
print(length)

5

#### 4. Count the occurrences of an element in a tuple

In [15]:
new = (1,2,3,4,5,3)
element = 3
print(new.count(element))

2

#### 5. Find the index of the first occurrence of an element in a tuple.

In [17]:
new = (1,2,3,4,5)
element = 4
print(new.index(element))

3

#### 6. Check if an element exists in a tuple.

In [2]:
new = (1,2,3,4,5)
element = 4

if element in new:
    print('Yes the element exists')
else:
    print('No is does not exists')

Yes the element exists

#### 7. Convert a tuple to a list.

In [4]:
new = (1,2,3,4,5)

print(list(new))

[1, 2, 3, 4, 5]

#### 8. Convert a list to a tuple.

In [5]:
new = [1, 2, 3, 4, 5]

print(tuple(new))

(1, 2, 3, 4, 5)

#### 9. Unpack the elements of a tuple into variables.

In [7]:
new = (99,55,77)

a,b,c =new

print(a,b,c)

99 55 77

#### 10. Create a tuple of even numbers from 1 to 10.

In [8]:
lst=[]
for i in range(1,11):
    if i %2 == 0:
        lst.append(i)
print(tuple(lst))

(2, 4, 6, 8, 10)

#### 11. Create a tuple of odd numbers from 1 to 10.

In [9]:
lst=[]
for i in range(1,11):
    if i %2 != 0:
        lst.append(i)
print(tuple(lst))

(1, 3, 5, 7, 9)

#### 12. Concatenate two tuples.

In [10]:
a=(1,2,3)
b=(4,5,6)
print(a+b)

(1, 2, 3, 4, 5, 6)

#### 13. Repeat a tuple three times.

In [11]:
a=(1,2,3)

print(a*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

#### 14. Check if a tuple is empty.

In [14]:
a_tuple = ()

if not a_tuple:
    print('The tuple is empty')
else:
    print('The tuple is not empty')

The tuple is empty

#### 15. Create a nested tuple.

In [21]:
a_tuple = ((34,42,21),(43,125,46), (457,18,49))

print(a_tuple)

((34, 42, 21), (43, 125, 46), (457, 18, 49))

#### 16. Access the first element of a nested tuple.

In [18]:
a_tuple = ((34,42,21),(43,125,46), (457,18,49))

first_element= print(a_tuple[0][0])

34

#### 17. Create a tuple with a single element.

In [20]:
a_tuple = (1,)

print(a_tuple)

(1,)

#### 18. Compare two tuples.

In [26]:
a= (1,2,4)
b=(3,4,5)

# Check tuples are equal
if a == b:
    print('Tuples are equal')
else:
    print('Tuples are not equal')

# Check tuples are not equal

if a != b:
    print('Tuples are not equal')
else:
    print('The Tuples are equal')
    
# Check tuples based on their elements

if a<b:
    print('Tuple b is greater than a')
else:
    print('Tuple b is less than a')

Tuples are not equal
Tuples are not equal
Tuple b is greater than a

#### 19. Delete a tuple.

In [31]:
a= (1,2,4)

del a

#### 20. Slice a tuple.

In [35]:
a=(1,2,3,4,5,6,7,8)

print(a[2:7])

(3, 4, 5, 6, 7)

#### 21. Find the maximum value in a tuple.

In [39]:
a=(1,2,3,4,5,6,7,8)

print(max(a))

8

#### 22. Find the minimum value in a tuple.

In [40]:
a=(1,2,3,4,5,6,7,8)

print(min(a))

1

#### 23. Convert a string to a tuple of characters.

In [41]:
string = 'sanju is ml engineer'

print(tuple(string))

('s', 'a', 'n', 'j', 'u', ' ', 'i', 's', ' ', 'm', 'l', ' ', 'e', 'n', 'g', 'i', 'n', 'e', 'e', 'r')

#### 24. Convert a tuple of characters to a string.

In [54]:
a_tuple = ('s', 'a', 'n', 'j', 'u', ' ', 'i', 's', ' ', 'm', 'l', ' ', 'e', 'n', 'g', 'i', 'n', 'e', 'e', 'r')

a = ''.join(a_tuple)

print(a)

sanju is ml engineer

#### 25. Create a tuple from multiple data types.

In [57]:
a = (5.9, 'Sanju', 99, False)

print(a)

(5.9, 'Sanju', 99, False)

#### 26. Check if two tuples are identical.

In [62]:
a= (1,2,4)
b=(1,2,4)

if a == b:
    print('The two tuples are identical')
else:
    print('They are not identical')

The two tuples are identical

#### 27. Sort the elements of a tuple.

In [73]:
a = (1,4,6,7,8,3,5)

b=list(a)

b.sort()

print(tuple(b))

(1, 3, 4, 5, 6, 7, 8)

#### 28. Convert a tuple of integers to a tuple of strings.

In [78]:
a = (1, 3, 4, 5, 6, 7, 8)

tuple_of_strings=tuple(str(i) for i in a)

print(tuple_of_strings)

('1', '3', '4', '5', '6', '7', '8')

#### 29. Convert a tuple of strings to a tuple of integers.

In [80]:
a =('1', '3', '4', '5', '6', '7', '8')

tuple_of_intergers = tuple(int(i) for i in a)

print(tuple_of_intergers)

(1, 3, 4, 5, 6, 7, 8)

#### 30. Merge two tuples.

In [81]:
a= (1,2,4)
b=(1,2,4)

print(a+b)

(1, 2, 4, 1, 2, 4)

#### 31. Flatten a nested tuple.

In [91]:
a_tuple = ((34,42,21),(43,125,46), (457,18,49))

print(tuple(i for inner_tuple in a_tuple for i in inner_tuple))

(34, 42, 21, 43, 125, 46, 457, 18, 49)

#### 32. Create a tuple of the first 5 prime numbers.

In [92]:
prime = (2,3,5,7,11)

print(prime)

(2, 3, 5, 7, 11)

#### 33. Check if a tuple is a palindrome.

In [1]:
a_tuple =(1,2,3,2,1)

lst = list(a_tuple)

reversed_list = lst[::-1]

if lst == reversed_list:
    print('The tuple is palindrome')
else:
    print('The Tuple is not palindrome')

The tuple is palindrome

#### 34. Create a tuple of squares of numbers from 1 to 5.

In [7]:
a_tuple =(1,2,3,4,5)
new = []
for i in list(a_tuple):
    new.append(i**2)
print(tuple(new))

(1, 4, 9, 16, 25)

#### 35. Filter out all even numbers from a tuple.

In [9]:
a_tuple =(1,2,3,4,5,6,7,8,9,10)

for i in a_tuple:
    if i %2 == 0:
        print(i, end=',')

2,4,6,8,10,

#### 36. Multiply all elements in a tuple by 2.

In [15]:
a_tuple =(1,2,3,4,5,6,7,8,9,10)

multipled_2 = tuple(i*2 for i in a_tuple)

print(multipled_2)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

#### 37. Create a tuple of random numbers.

In [29]:
import random

lower_limit = 1  
upper_limit = 10
tuple_size = 8

random_numbers_tuple = tuple(random.randint(lower_limit, upper_limit) for i in range(tuple_size))

print(random_numbers_tuple)

(2, 3, 9, 8, 9, 7, 6, 7)

#### 38. Check if a tuple is sorted.

In [35]:
a_tuple =(1,2,3,4,5,6,7,8,9,10)

a_tuple = list(a_tuple)

if a_tuple == sorted(tuple(a_tuple)):
    print('The tuple is sorted', a_tuple)

The tuple is sorted [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [40]:
a_tuple =(1,2,3,4,89,6,7,8,9,10)

if a_tuple == tuple(sorted(a_tuple)):
    print('The tuple is sorted')
else:
    print('The tuple is not sorted')

The tuple is not sorted

#### 39. Rotate a tuple to the left by `n` positions.

In [41]:
a_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

position = 2

print(a_tuple[position:] + a_tuple[:position])

(3, 4, 5, 6, 7, 8, 9, 10, 1, 2)

#### 40. Rotate a tuple to the right by `n` positions.

In [43]:
a_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

position = 2

print(a_tuple[-position:] + a_tuple[:-position])

(9, 10, 1, 2, 3, 4, 5, 6, 7, 8)

#### 41. Create a tuple of the first 5 Fibonacci numbers.

In [6]:
tuple_fibo = (0,1,1,2,3)

print("First 5 Fibonacci numbers:", tuple_fibo)

First 5 Fibonacci numbers: (0, 1, 1, 2, 3)

#### 42. Create a tuple from user input.

In [9]:
a_tuple = tuple(input())
print(type(a_tuple))

1,2,3,4,5,6
<class 'tuple'>

#### 43. Swap two elements in a tuple.

In [24]:
oldtuple_= (0,1,1,2,3)

element1 = 3
element2 = 2

new_tuple = tuple(element1 if i == element2 else (element2 if i == element1 else i) for i in oldtuple_)

print(oldtuple_,'\n',new_tuple)

(0, 1, 1, 2, 3)
 (0, 1, 1, 3, 2)

#### 44. Reverse the elements of a tuple.

In [29]:
oldtuple_= (0,1,1,2,3)

print('Reversed_tuple: ', oldtuple_[::-1])

Reversed_tuple:  (3, 2, 1, 1, 0)

#### 45. Create a tuple of the first `n` powers of 2.

In [1]:
n = 6  
powers_of_2_tuple = tuple(2 ** i for i in range(n))

print(powers_of_2_tuple)

for num in powers_of_2_tuple:
    print(num ** 2, end=', ')

(1, 2, 4, 8, 16, 32)
1, 4, 16, 64, 256, 1024,

#### 46. Find the longest string in a tuple of strings.

In [50]:
tuple_str = ('sanju', 'is', 'a', 'ML', 'Engineer')

longest_str = ''

for i in tuple_str:
    if len(i) > len(longest_str):
        longest_str = i
print(longest_str)

Engineer

#### 47. Find the shortest string in a tuple of strings.

In [55]:
tuple_str = ('sanju','is','a','ML','Engineer')

shortest_str = tuple_str[0]

for i in tuple_str[1:]:
    if len(i) < len(shortest_str):
        shortest_str = i
print(shortest_str)

a

#### 48. Create a tuple of the first `n` triangular numbers.

In [2]:
n = 5 
triangular_numbers = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
print(triangular_numbers)

(1, 3, 6, 10, 15)

#### 49. Check if a tuple contains another tuple as a subsequence.

In [14]:
tuple1= ('sanju', 'is', 'ml', 'engineer')
tuple2 = ('ml', 'engineer')

if all(i in tuple1 for i in tuple2):
    print('The tuple2 is a subsequence of tuple1')
else:
    print('The tuple2 is not a subsequence of tuple1')

The tuple2 is a subsequence of tuple1

#### 50. Create a tuple of alternating 1s and 0s of length `n`

In [16]:
n = 10

a_tuple = tuple((1 if i % 2 == 0 else 0) for i in range(n))

print(a_tuple)

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

#### Set based practice questions

#### 1. Create a set with integers from 1 to 5.

In [21]:
a = {1,2,3,4,5}

print(a)

{1, 2, 3, 4, 5}

#### 2. Add an element to a set.

In [23]:
a = {1,2,3,4,5}

a.add(6)

print(a)

{1, 2, 3, 4, 5, 6}

#### 3. Remove an element from a set.

In [24]:
a = {1,2,3,4,5}

a.remove(5)

print(a)

{1, 2, 3, 4}

#### 4. Check if an element exists in a set.

In [34]:
a = {1,2,3,4,5}

element =  10

if element in a:
    print('Element exists')
else:
    print('Element doesnt exists')

Element doesnt exists

#### 5. Find the length of a set without using the `len()` function.

In [44]:
a = {1,2,3,4,5,6}

length = 0

for i in a:
    length+=1
print(length)

6

#### 6. Clear all elements from a set.

In [46]:
a = {1,2,3,4,5,6}

a.clear()

print(a)

set()

#### 7. Create a set of even numbers from 1 to 10.

In [58]:
even_number = {i:i for i in range(11) if i % 2 == 0}

print(set(even_number))

{0, 2, 4, 6, 8, 10}

#### 8. Create a set of odd numbers from 1 to 10.

In [59]:
odd_number = {i:i for i in range(11) if i % 2 != 0}

print(set(odd_number))

{1, 3, 5, 7, 9}

#### 9. Find the union of two sets.

In [62]:
a = {1,3,5,7}

b = {2,4,6,8}

print(a.union(b))

{1, 2, 3, 4, 5, 6, 7, 8}

#### 10. Find the intersection of two sets.

In [63]:
a = {1,3,9,4,8}

b = {2,4,6,8,10}

print(a.intersection(b))

{8, 4}

#### 11. Find the difference between two sets.

In [64]:
a = {1,3,9,4,8}

b = {2,4,6,8,10}

print(a.difference(b))

{1, 3, 9}

#### 12. Check if a set is a subset of another set.

In [76]:
a = {1,3,9}

b = {1,3}

if b.issubset(a):
    print('B is a subset of A')
else:
    print('B is not a subset of A')

B is a subset of A

####  13. Check if a set is a superset of another set.

In [77]:
a = {1,3,9,4,8}

b = {1,3}

if a.issuperset(b):
    print('A is a superset of B')
else:
    print('A is not a superset of B')

A is a superset of B

#### 14. Create a set from a list.

In [78]:
a = [1,3,9,4,8]

print(set(a))

{1, 3, 4, 8, 9}

#### 15. Convert a set to a list.

In [79]:
a = {1,3,9,4,8}

print(list(a))

[1, 3, 4, 8, 9]

#### 16. Remove a random element from a set.

In [110]:
import random
random_element = random.randint(0,10)

set_1 = set({i: i for i in range(0,10)})

set_1.remove(random_element)

print(set_1)

{0, 1, 2, 3, 4, 5, 6, 7, 8}

#### 17. Pop an element from a set.

In [116]:
a = {1,3,9,4,8}

print(a.pop())

1

#### 18. Check if two sets have no elements in common.

In [119]:
a = {1,3,5,7}

b = {1,4,6,8}

if a not in b:
    print('They dont have common elements')
else:
    print('They have common elements')

They dont have common elements

#### 19. Find the symmetric difference between two sets.

In [123]:
a = {2,4,6,7}

b = {1,4,6,8}

print(a.symmetric_difference(b))

{1, 2, 7, 8}

#### 20. Update a set with elements from another set.

In [126]:
a = {1,3,5,7}

b = {2,4,6,8}

a.update(b)

print(a)

{1, 2, 3, 4, 5, 6, 7, 8}

#### 21. Create a set of the first 5 prime numbers.

In [128]:
def prime_number(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) +1):
        if num% i == 0:
            return False
    return True

prime_number = tuple((num for num in range(2,51) if prime_number(num)))

print(prime_number)

(2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47)

#### 22. Check if two sets are identical.

In [131]:
a = {1,3,5,7}

b = {2,4,6,8}

if a == b:
    print('The two sets are identical')
else:
    print('They are not Identical')

They are not Identical

#### 23. Create a frozen set.

In [133]:
a = frozenset([1,2,3,4,5])

print(a)

frozenset({1, 2, 3, 4, 5})

#### 24. Check if a set is disjoint with another set.

In [137]:
a = {1,3,5,7}

b = {2,4,6,8}

disjoint = a.isdisjoint(b)

if disjoint:
    print("set1 and set2 are disjoint.")
else:
    print("set1 and set2 have at least one common element.")

set1 and set2 are disjoint.

#### 25. Create a set of squares of numbers from 1 to 5.

In [140]:
a = {1,2,3,4,5}

set_of_squares = {i**2 for i in a}

print(set_of_squares)

{1, 4, 9, 16, 25}

#### 26. Filter out all even numbers from a set.

In [143]:
a = {1,2,3,4,5,6,7,8,9,10}

even_number = set(filter(lambda x: x%2 == 0, a))

print(even_number)

{2, 4, 6, 8, 10}

#### 27. Multiply all elements in a set by 2.

In [149]:
a = {1,2,3,4,5,6,7,8,9,10}

Multiple_2 = set(i*2 for i in a)

Multiple_2

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

#### 28. Create a set of random numbers.

In [158]:
import random

start = 1
end = 100
size = 30

new = set(random.randint(start, end) for i in range(size))
          
print(new)

{1, 2, 4, 9, 10, 12, 14, 19, 22, 23, 34, 39, 44, 47, 49, 55, 58, 59, 61, 68, 69, 73, 75, 79, 84, 85, 87, 90, 91}

#### 29. Check if a set is empty.

In [159]:
a = {}

if len(a) == 0:
    print('The set is empty')
else:
    print('The set is not empty')

The set is empty

#### 30. Create a nested set (hint: use frozenset).

In [165]:
a = frozenset([1,2,3,4,5,6,7])

nested_set = {a}

print(nested_set)

{frozenset({1, 2, 3, 4, 5, 6, 7})}

#### 31. Remove an element from a set using the discard method

In [175]:
a = {1,2,3,4,5,6,7,8,9,10}

a.discard(9)

print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 10}

#### 32. Compare two sets.

In [176]:
a= {1,2,4}
b={3,4,5}

# Check sets are equal
if a == b:
    print('Sets are equal')
else:
    print('Sets are not equal')

# Check sets are not equal

if a != b:
    print('Sets are not equal')
else:
    print('The Sets are equal')
    
# Check sets based on their elements

if a<b:
    print('Set b is greater than a')
else:
    print('Set b is less than a')

Sets are not equal
Sets are not equal
Set b is less than a

#### 33. Create a set from a string.

In [180]:
string  = 'sanju'

set1 = set(string)

print(set1)

{'a', 's', 'j', 'u', 'n'}

#### 34. Convert a set of strings to a set of integers.

In [187]:
set_strings = {'1','2','3','4','5'}

set_integers = set(int(i) for i in set_strings)

print(set_integers)

{1, 2, 3, 4, 5}

#### 35. Convert a set of integers to a set of strings.

In [188]:
set_integers = {1, 2, 3, 4, 5}

set_strings = set(str(i) for i in set_integers)

print(set_strings)

{'3', '5', '4', '1', '2'}

#### 36. Create a set from a tuple.

In [195]:
tuple_ = (1,2,3,4,5)

print(set(tuple_))

{1, 2, 3, 4, 5}

#### 37. Convert a set to a tuple.

In [196]:
set_ = {1, 2, 3, 4, 5}

print(tuple(set_))

(1, 2, 3, 4, 5)

#### 38. Find the maximum value in a set.

In [201]:
set_ = {1, 2, 3, 4, 5}

print('Maximum:', max(set_))

Maximum: 5

#### 39. Find the minimum value in a set.

In [202]:
set_ = {1, 2, 3, 4, 5}

print('Minimum:', min(set_))

Minimum: 1

#### 40. Create a set from user input.

In [210]:
user_input = input()
set_ = set()

for i in user_input:
    set_.add(i)
print(set_)

sanju
{'a', 's', 'j', 'u', 'n'}

#### 41. Check if the intersection of two sets is empty.

In [212]:
set1 = {1, 2, 3, 4, 5}

set2 = {6,7,8,9,10}

intersection = set1.intersection(set2)

if intersection:
    print('The set is not empty')
else:
    print('The set is empty')

The set is empty

#### 42. Create a set of the first 5 Fibonacci numbers.

In [220]:
set_ = set()

a,b = 0, 1

for i in range(2, 8):
    next_fibonacci = set_.add(a)
    a,b = b, a+b

print("First 5 Fibonacci numbers:", set_)

First 5 Fibonacci numbers: {0, 1, 2, 3, 5}

#### 43. Remove duplicates from a list using sets.

In [222]:
lst = [1, 2, 3, 4, 5, 4, 3, 2, 10, 9, 8, 12]

print(set(lst))

{1, 2, 3, 4, 5, 8, 9, 10, 12}

#### 44. Check if two sets have the same elements, regardless of their count.

In [223]:
set1 = {1, 2, 3, 4, 5}

set2 = {1,2,3,4,5}

if set1 == set2:
    print('The sets have same elements')
else:
    print('They have different elements')

The sets have same elements

#### 45. Create a set of the first `n` powers of 2

In [3]:
n = 6  
powers_of_2_set = set(2 ** i for i in range(n))

print(powers_of_2_set)

{32, 1, 2, 4, 8, 16}

#### 46. Find the common elements between a set and a list.

In [5]:
lst = [1, 2, 3, 4, 5, 8,10,21]

set1 = {1,2,3,4,5,34,21,12}

common_element = [i for i in lst if i in set1]

print(common_element)

[1, 2, 3, 4, 5, 21]

#### 47. Create a set of the first `n` triangular numbers

In [6]:
n = 5 
triangular_numbers = set((i * (i + 1)) // 2 for i in range(1, n + 1))
print(triangular_numbers)

{1, 3, 6, 10, 15}

#### 48. Check if a set contains another set as a subset.

In [9]:
set1 = {1,2,3,4,5}
set2 = {31,14}

subset =set2.issubset(set1)

if subset:
    print('The set2 is a subset of set1')
else:
    print('The set2 is not a subset of set1')

The set2 is not a subset of set1

#### 49. Create a set of alternating 1s and 0s of length `n`.

In [14]:
n = 10

newset = set((1 if i %2 != 0 else 0) for i in range(n))

print(newset)

{0, 1}

#### 50. Merge multiple sets into one.

In [23]:
a = {1,2,3,4}
b = {5,6,7,8}
c = {9,10,11,12}

merge = a.union(b,c)

print(merge)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}